.container{
    display: flex;
    gap: 100px;
}
.title{
    font-size: 96px;
}
.desc{
    font-size: 20px;
}
.textContainer{
    display: flex;
    flex:1;
    gap:50px;
    flex-direction: column;
}
.buttons{
    display: flex;
    gap: 20px;
}
.button{
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.button:first-child{
    background-color: var(--btn);
    color: var(--text);
}
.brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
}
.imageContainer{
    flex:1;
    position: relative;
}
